# Copyright (c) 2016-2025 Martin Donath <martin.donath@squidfunk.com>

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

# Project information
site_name: MPM for Net Zero
site_url: https://example.com/
site_author: Durham University Engineering Department
site_description: >-
  Leveraging the Material Point Method for large deformation soil-structure
  interaction to realise Net Zero through offshore renewable energy

# Repository
repo_name: mpm-netzero
repo_url: https://github.com/yourusername/mpm-netzero

# Copyright
copyright: Copyright &copy; 2025 Durham University

# Theme
theme:
  name: material
  palette:
    primary: custom
    accent: custom
  font:
    text: Open Sans
    code: Roboto Mono
  features:
    - content.code.copy
    - content.tooltips
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - toc.follow
  custom_dir: overrides

# Navigation
nav:
  - Home: index.md
  - About:
    - Project Overview: about/overview.md
    - Technical Approach: about/approach.md
    - Applications: about/applications.md
  - Partners: partners.md
  - Documentation:
    - Getting Started: docs/getting-started.md
  - Contact: contact.md

# Plugins
plugins:
  - search

# Custom CSS
extra_css:
  - stylesheets/extra.css

# Extensions
markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
